extends layout

block content
  h1 Sqone
  table
    thead
      tr
        th
          strong Path
        th
          strong Count
    tbody
      each val in items
        tr
          td= val.key
          td= val.value
